version: "3.8"

services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - TZ=America/New_York
      - PUID=1000
      - PGID=1000
      # - PLEX_CLAIM=claim-XXXXXXXX-XXXXXXXX
    volumes:
      - /mnt/ssd/media:/media
      - /mnt/ssd/plex-config:/config
      - /mnt/ssd/plex-transcode:/transcode
    restart: unless-stopped
